@import 'import/reset';
@import 'import/variables';
@import 'import/mixin';
@import 'bootstrap/bootstrap-theme';
@import 'bootstrap/bootstrap';
@import 'import/wordpress';
@import 'sprite';
@import 'fonts/font_fontawesome';
@import 'fonts/font_opensans';
@import 'fonts/font_roboto';
@import 'fonts/font_myriad';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #00478d;
  &:hover {
    text-decoration: none;

    color: #548ab7;
  }
}

.clear {
  clear: both;
}

p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
header {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 60px;

  background-color: $blue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  #logo {
    position: absolute;
    top: 10px;
    left: 20px;

    width: 159px;
    height: 40px;
    img {
      max-width: 100%;
    }
  }
  .nav {
    position: absolute;
    top: 22px;
    left: 185px;

    display: inline-block;
    ul {
      float: left;

      list-style: none;
      li {
        display: inline-block;

        margin: 0 8px;
        a {
          font-size: 14px;
          font-weight: 600;

          padding: 5px 10px;

          text-decoration: none;
          text-transform: uppercase;

          color: #fff;
          border-radius: 3px;
          &:hover {
            color: #fff;
            background-color: #1a5998;
          }
        }
      }
      .last {
        margin-right: 0;
      }
      .current-menu-item a,
      li a:active {
        background-color: #003c77;
        box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .1);
      }
    }
  }
}

.phone-block {
  font-size: 10px;
  font-weight: bold;

  position: absolute;
  top: 10px;
  right: 25px;

  width: 200px;

  text-align: right;

  color: #fff;
  a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;

    display: block;

    color: #fff;
    &:hover {
      color: #afc5db;
    }
  }
  span {
    color: #afc5db;
  }
}
.single-phone {
  font-size: 28px;

  display: block;

  margin: 0 0 20px;

  text-align: center;
  text-decoration: none;

  color: $blue;
}
.open-search {
  position: absolute;
  top: 12px;
  right: 220px;

  display: block;

  width: 85px;
  height: 40px;
  padding-top: 4px;

  cursor: pointer;
  text-align: center;

  color: #fff;
  border: 0;
  background-color: transparent;
  .fa {
    margin-right: 10px;
  }
  &:hover {
    color: #fff;
  }
  &.open-search-opened {
    opacity: 0;
  }
}

#searchform {
  position: absolute;
  top: 10px;
  left: 190px;

  display: none;

  width: 550px;
  height: 40px;

  border-radius: 10px;
  outline: none;
  background-color: transparent;
  input[type=text] {
    font-size: 16px;

    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
    padding: 10px;

    color: #383737;
    border: 1px solid #c6ccd2;
    border-radius: 10px;
  }
  button {
    font-size: 150%;

    position: absolute;
    z-index: 6;
    top: 0;
    right: 40px;

    width: 40px;
    height: 100%;

    color: #fff;
    border: 0;
    border-radius: 0;
    background-color: darken($blue, 10%);
    &:hover {
      color: #fff;
      background-color: darken($blue, 5%);
    }
    &:active {
      color: #fff;
      background-color: darken($blue, 15%);
    }
  }
  .close-search {
    font-size: 150%;
    line-height: 2;

    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;

    display: block;

    width: 40px;
    height: 100%;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 0 10px 10px 0;
    background-color: $blue;
    background-color: darken($blue, 20%);
    &:hover {
      color: #fff;
      background-color: darken($blue, 25%);
    }
  }
  &.searchform-show {
    display: block;
  }
}

.language-select {
  position: absolute;
  z-index: 1;
  top: 3px;
  right: 0;

  display: block;

  width: 18px;
  li {
    display: inline-block;

    width: 100%;
    height: 12px;
    a {
      display: block;

      height: 100%;

      opacity: .7;
    }
    &:hover {
      a {
        opacity: 1;
      }
    }
    &.lang-ru {
      a {
        background-image: url(../img/ico/ico-lang-ru.png);
      }
    }
    &.lang-en {
      a {
        background-image: url(../img/ico/ico-lang-en.png);
      }
    }
    &.lang-es {
      a {
        background-image: url(../img/ico/ico-lang-es.png);
      }
    }
  }
}

section {
  padding: 0 0 $footer;
  .inner {
    background-color: #fff;
  }
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 105%;
  font-weight: normal;

  position: relative;

  width: 100%;
  height: $footer;
  margin: $footer_margin auto 0;
  padding-top: 20px;

  color: #fff;
  background-color: #172736;
  a {
    color: #fff;
    border-bottom: 1px dotted transparent;
    &:hover {
      color: darken($light-gray, 15%);
      border-bottom: 1px dotted darken($light-gray, 15%);
    }
  }
  .fa {
    font-size: 110%;

    margin-right: 5px;
  }
}

.tab-menu {
  position: relative;

  margin-bottom: 30px;

  border: solid 1px #d3d3d3;
  .tab-link {
    font-size: 17px;
    font-weight: 700;

    height: 50px;
    padding-top: 14px;

    cursor: pointer;
    transition: all .1s .1s ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #5c5c5c;
    border-bottom: solid 1px #d3d3d3;
  }
  &.five-links .tab-link {
    width: 183px;
    &.five {
      width: 186px;
    }
  }
  .tab-link {
    + .tab-link {
      border-left: solid 1px #d3d3d3;
    }
    &:hover {
      color: #548ab7;
      background-color: #fafafa;
    }
    &.active {
      color: #00478d;
      border-bottom: none;
      &:hover {
        cursor: default;

        background-color: #fff;
      }
    }
  }
}

#main-bottom {
  position: relative;

  height: 380px;
}

#presentation {
  height: 100%;
  padding: 0;
  a {
    position: relative;

    display: block;

    width: 100%;
    height: 100%;
  }
  img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .play {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 30% 20% 0;

    text-align: center;

    background-color: rgba(0, 0, 0, .35);
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-position: center 35%;
    b {
      font-size: 20px;

      display: block;

      margin-bottom: 10px;

      text-transform: uppercase;

      color: #fff;
    }
    hr {
      position: relative;

      width: 20%;
      height: 1px;
      margin: 0 auto 10px;

      border: none;
      background-color: #aebbc7;
    }
    span {
      color: #fff;
    }
    &:hover {
      background-color: rgba(0, 0, 0, .15);
    }
  }
}

#overlay-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background: rgba(255, 255, 255, .15);
}

#products {
  padding: 0;
  .product {
    position: relative;

    height: 190px;
    img {
      width: 100%;
      height: 110px;
      margin: 0 0 10px;
    }
    &:before {
      position: absolute;
      z-index: 1;
      top: 102px;
      left: 20px;

      display: block;

      width: 1px;
      height: 0;

      content: '';

      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
      border-left: 8px solid transparent;
    }
    .product-title {
      font-size: 15px;
      font-weight: 700;

      margin: 0 0 10px 15px;

      text-transform: uppercase;

      color: #0d1821;
      border-bottom: 1px solid #e8e8e8;
    }
    .more-link {
      margin-left: 15px;
    }
  }
}

.breadcrumbs {
  font-size: 11px;
  line-height: 2;

  height: 25px;
  padding: 0 20px;

  color: #a9a9a9;
  a {
    color: #a9a9a9;
  }
  .last {
    cursor: default;
    text-decoration: none;
  }
}


.menu-dilleryi-container,
.textwidget,
.menu-stranitsyi-container {
  overflow: hidden;

  border-radius: 10px;
  background-color: #00468c;
  li {
    line-height: 50px;

    display: block;

    height: 50px;
    min-height: 50px;
    padding-left: 20px;

    border-bottom: 1px solid #034281;
    a {
      color: #fff !important;
    }
  }
}

aside {
  position: relative;

  padding: 0 20px 20px 0;

  background-color: #fafafa;
  a {
    font-size: 12px;
    font-weight: 700;

    position: relative;

    display: inline-block;

    text-decoration: none;
    text-transform: uppercase;

    color: #868686;
    &:hover {
      color: #5f91bb !important;
    }
  }
  h1 {
    font-size: 24px;

    margin-bottom: 10px;

    text-transform: uppercase;

    color: #0d1821;
  }
  h2 {
    margin-bottom: 10px;
    padding-bottom: 0;

    border: none;
  }
  h3,
  h4 {
    color: #4b4b4b;
  }
  p {
    margin-bottom: 15px;
  }
  blockquote {
    font-size: 13px;
    font-weight: 600;

    padding-bottom: 20px;

    border-bottom: 1px solid #e8e8e8;
  }
  .content-data {
    margin-bottom: 15px;
  }
  .content-author,
  .content-time,
  .content-category {
    font-size: 14px;
    font-weight: bold;
  }
  .content-author {
    color: #383737;
  }
  .content-category {
    color: #24aa98;
  }
  .content-time {
    color: #b4bbc2;
  }
}
.widget {
  padding: 30px 0 10px;
  h6 {
    font-size: 15px;
    font-weight: 700;

    margin-bottom: 25px;
    padding-bottom: 20px;

    text-align: center;
    text-transform: uppercase;

    color: #0d1821;
    border-bottom: 1px solid #e8e8e8;
  }
}
.widget-customers {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: block;

      margin: 0 0 10px;
      padding: 0;
      a {
        position: relative;

        display: block;
      }
    }
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
.btn {
  font-size: 14px;
  font-weight: bold;

  margin-right: 20px;
  padding: 5px 20px;

  text-decoration: none;

  border-radius: 10px;
  .fa {
    margin-right: 10px;

    color: $blue;
  }
  &.btn-blue {
    color: #fff;
    background-color: #00468c;
    .fa {
      color: #fff;
    }
  }
  &.btn-transparent {
    color: #00468c;
  }
  &.btn-transparent-gray {
    font-size: 11px;

    margin: 0 0 10px;

    color: #000;
    border: 2px solid #c6ccd2;
  }
  &.btn-gray {
    color: #548ab7;
    border: 1px solid #e9e9e9;
    background-color: #fafafa;
  }
  &.btn-orange {
    color: #000;
    border: 1px solid #fa2;
    background-color: #ffab23;
    text-shadow: 0 1px 0 #fe6;

    @include linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  }
  &:hover {
    .fa {
      color: darken($blue, 10%);
    }
    &.btn-blue {
      background-color: lighten(#00468c, 15%);
      .fa {
        color: #fafafa;
      }
    }
    &.btn-gray {
      color: darken(#548ab7, 10%);
      background-color: darken(#fafafa, 10%);
    }
    &.btn-orange {
      background-color: #ffab23;

      @include linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    }
  }
}
.inner-title {
  font-size: 24px;
  font-weight: 600;

  margin-bottom: 10px;

  text-transform: uppercase;

  color: #0d1821;
  .fa {
    margin-right: 10px;
  }
}
.diler-title {
  font-size: 24px;
  font-weight: 600;

  margin-bottom: 10px;
  padding: 10px 0 0;

  text-transform: uppercase;

  color: #0d1821;
}
.diler-sub-title {
  font-size: 15px;
  font-weight: 700;

  margin-bottom: 10px;

  text-transform: uppercase;

  color: #0d1821;
  border-bottom: 1px solid #e8e8e8;
}
.title-orange {
  font-size: 15px;
  font-weight: 700;

  margin-bottom: 25px;
  padding: 20px 0;

  text-transform: uppercase;

  color: #fa923c;
  border-bottom: 1px solid #e8e8e8;
}
.title-blue {
  font-size: 14px;

  display: block;

  padding: 0 20px;

  text-align: center;

  color: $blue;
}
.work-time {
  font-size: 12px;

  text-align: center;

  color: #000;
  .work-time-or {
    font-size: 25px;
    line-height: 34px;

    display: block;

    color: $blue;
    color: #00468c;
  }
}
.block-triple {
  p {
    margin: 0 0 10px;

    color: #383838;
    &.descr {
      margin-bottom: 30px;
    }
  }
  img {
    max-width: 100%;
  }
  .block-triple-heading {
    font-size: 14px;
    font-weight: 700;

    margin-bottom: 25px;
    padding-bottom: 20px;

    text-transform: uppercase;

    color: #0d1821;
    border-bottom: 1px solid #e8e8e8;
    &.no-border {
      font-size: 18px;

      margin-bottom: 5px;

      text-transform: none;

      border: none;
    }
    &.gray {
      color: #868686;
    }
  }
  .block-triple-subheading {
    font-size: 14px;
    font-weight: 700;

    margin-bottom: 10px;
    padding-bottom: 10px;

    text-transform: uppercase;

    color: #0d1821;
    &.no-border {
      font-size: 18px;

      margin-bottom: 5px;

      text-transform: none;

      border: none;
    }
    &.gray {
      color: #868686;
    }
  }
  .left-block,
  .middle-block,
  .right-block {
    padding: 40px 20px;
  }
  .middle-block {
    background-color: #fafafa;
    img {
      width: 100%;
      margin-bottom: 25px;
    }
    h1 {
      font-size: 19px;
      font-weight: 600;

      margin: 0 auto 20px;

      color: #0d1821;
    }
    table {
      tr {
        cursor: pointer;

        opacity: .8;
        &:hover {
          opacity: 1;
        }
      }
      td {
        padding: 5px 0;

        vertical-align: middle;

        border: 0;
        border-bottom: 1px solid #ccc;
      }
    }
  }
  .right-block {
    .btn {
      display: block;

      margin: 0 auto 20px;
    }
    .btn-blue {
      font-size: 130%;

      padding: 20px;
    }
  }
}
.block-triple-sinle {
  .middle-block {
    table {
      td {
        width: 80%;

        text-align: right;
        &:first-child {
          width: 20%;

          text-align: left;
        }
      }
    }
  }
  .right-block {
    text-align: center;
    .btn {
      display: block;

      margin: 0 auto 20px;
    }
    .btn-two-blocks {
      width: 70%;
    }
  }
}
.block-triple-solution {
  .right-block,
  .middle-block {
    .block-triple-heading {
      text-align: center;
    }
    table {
      font-size: 14px;
      font-weight: 600;

      color: #4b4b4b;
      input {
        font-size: 12px;
        font-weight: 600;

        display: block;

        width: 100%;
        padding: 10px 2px;

        color: #868686;
        border: solid 1px #e9e9e9;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 0 0 #e9e9e9;
        &[type=number] {
          text-align: center;
        }
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        margin: 0;

        appearance: none;
      }
      input[type=number] {
        -moz-appearance: textfield;
      }
      tr {
        display: none;
        &.visible {
          display: table-row;
        }
      }
      td {
        width: 85%;
        &:first-child {
          cursor: pointer;
          span {
            font-size: 12px;
            font-style: italic;

            display: block;

            color: #fa923c;
          }
        }
        &:last-child {
          width: 15%;

          @extend .clearfix;
        }
      }
    }
  }
  .bigtotal {
    font-size: 35px;

    display: inline-block;

    margin: 0 0 15px;

    color: #00468c;
    input[type=text] {
      font-size: 35px;

      width: 70%;
      height: auto;

      text-align: right;

      color: #00468c;
      border: 0;
    }
  }
  .btn {
    font-size: 150%;

    display: block;

    width: 100%;
    margin: 0 0 15px;

    text-align: center;
    text-transform: uppercase;
  }
  .psevdoradio {
    font-size: 18px;

    display: inline-block;

    width: 18px;
    height: 18px;

    text-align: center;

    color: $blue;
  }
}
.block-triple-loop {
  font-size: 14px;
  font-weight: 600;

  display: block;

  margin: 0;
  padding: 0;
  li {
    position: relative;

    display: block;

    margin: 0 0 15px;
    padding: 0;
    a {
      position: relative;

      display: block;

      height: 100%;
      padding: 0;

      color: #4b4b4b;
    }
    .fa {
      margin-right: 10px;
    }
    .block-triple-loop-title {
      font-size: 14px;
      font-weight: 600;

      width: 100%;
      padding-left: 65px;

      @extend .align-center;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      width: 55px;
      height: 55px;
    }
    &:hover {
      opacity: .7;
    }
  }
  &.block-triple-home {
    li {
      height: 55px;
    }
  }
}

.more-link {
  position: relative;

  display: block;

  padding-left: 40px;

  text-decoration: none;

  color: #00478d;
  &:before {
    position: absolute;
    top: -5px;
    left: 0;

    display: block;
    float: left;

    width: 31px;
    height: 31px;

    content: '';

    background: url(../img/more-link.png) no-repeat;
  }
  &:hover {
    opacity: .7;
  }
}

.mydiler-single {
  .mydiler-single-inside {
    margin: auto;
    padding: 15px 0;

    border-radius: 5px;
    background-color: #f2f5f8;
  }
  .mydiler-map {
    img {
      width: 100%;
      height: 320px;
    }
  }
  h2 {
    font-size: 15px;
    font-weight: 700;

    margin-bottom: 10px;
    padding-bottom: 0;

    text-transform: uppercase;

    color: #0d1821;
  }
  .mydiler-title {
    font-size: 18px;

    margin-bottom: 25px;

    color: #383737;
  }
  .mydiler-single-tag {
    margin-bottom: 20px;

    text-align: right;
  }
  p {
    font-size: 12px;

    color: #b4bbc2;
  }
  table {
    td {
      padding: 5px;
      &:first-child {
        font-size: 17px;

        width: 20%;

        text-align: right;

        color: #383737;
      }
      &:last-child {
        font-size: 14px;
        line-height: 23px;

        width: 80%;

        text-align: left;

        color: #b4bbc2;
      }
    }
  }
  .mydiler-phone {
    color: #b4bbc2;
    &:hover {
      color: #000;
    }
  }
}
.ovr-rating {
  display: block;
  .fa {
    color: #fa923c;
  }
}
.content-tab-header {
  .content-tab-left,
  .content-tab-middle,
  .content-tab-right {
    line-height: 50px;

    overflow: hidden;

    height: 50px;
    padding: 0;

    text-align: center;

    background-color: #00468c;
    a {
      font-size: 16px;
      font-weight: bold;

      display: block;

      height: 100%;

      text-decoration: none;

      color: #fff;
    }
    &:hover {
      background-color: lighten(#00468c, 10%);
    }
  }
  .content-tab-left {
    border-radius: 10px 0 0 0;
  }
  .content-tab-right {
    border-radius: 0 10px 0 0;
  }
  .content-tab-active {
    background-color: #f2f5f8;
    a {
      cursor: context-menu;

      color: #393635;
    }
    &:hover {
      background-color: #f2f5f8;
    }
  }
}
.content-tab-container {
  padding: 20px 0;

  border-radius: 0 10px 10px 10px;
  background-color: #f2f5f8;
  h6 {
    font-size: 14px;

    padding-left: 30px;

    color: #b4bbc2;
  }
}
.content-tab-cloud {
  a {
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;

    text-decoration: none;

    color: #383737;
    &:hover {
      color: #000;
    }
    &.current-term {
      color: #fff;
      border-radius: 10px;
      background-color: #00468c;
      &:hover {
        color: #fff;
      }
    }
  }
}
.dealer-loop-container {
  padding-top: 20px;
}
.dealer-loop {
  font-size: 14px;

  display: none;

  padding: 10px 0;

  color: #b4bbc2;
  border-bottom: 1px solid #f4f4f4;
  a {
    display: block;
  }
  .dealer-img {
    img {
      width: 100%;

      border-radius: 10px;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: bold;

    margin: 0 0 10px;
    a {
      text-decoration: none;

      color: #383737;
    }
  }
  .dealer-adress {
    margin: 0;
  }
  .dealer-phone {
    text-decoration: none;

    color: #b4bbc2;
    &:hover {
      color: #000;
    }
  }
  .dealer-more {
    padding-top: 5%;
  }
  &.dealer-loop-current {
    display: block;
  }
}
.pagination {
  padding: 15px;

  text-align: center;
  a {
    font-size: 14px;
    font-weight: 600;

    margin: 0 10px;

    text-decoration: none;

    color: $blue;
    &:hover {
      color: #000;
    }
  }
  .current {
    font-size: 14px;
    font-weight: 600;

    margin: 0 10px;

    color: #8d8d8d;
  }
}
.menu-katalog-container {
  ul {
    display: block;

    margin: 0;
    padding: 0;

    @extend .clearfix;
    li {
      position: relative;

      display: inline-block;
      float: left;
      overflow: hidden;

      width: 100%;
      height: 70px;
      margin: 0;
      padding: 0;

      border: solid 1px #d3d3d3;
      border-bottom: 0;
      a {
        font-size: 16px;
        font-weight: 700;

        display: block;

        width: 90%;

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        color: #5c5c5c;

        @extend .align-center;
      }
      &:last-child {
        border: solid 1px #d3d3d3;
      }
      &:hover {
        background-color: #fafafa;
        a {
          color: #548ab7;
        }
      }
      &.current-menu-item {
        background-color: #d3d3d3;
        a {
          color: #00478d ;
        }
        &:hover {
          background-color: #d3d3d3;
          a {
            cursor: default;

            color: #00478d;
          }
        }
      }
      &.menu-item-has-children {
        &:after {
          font-size: 20px;

          position: absolute;
          top: 50%;
          right: 0;

          margin-top: -10px;

          content: '\f196';
          cursor: pointer;

          @extend .dblock;
          @extend .fa;
        }
        &:hover {
          &:after {
            font-size: 30px;

            margin-top: -15px;
          }
        }
      }
    }
  }
  .sub-menu {
    display: none;
  }
}
.product-table {
  margin-bottom: 20px;
}
.product-table-second {
  margin-bottom: 0;
}
.product-table-inner {
  tr {
    &:hover {
      background-color: darken(#fff, 5%);
    }
  }
  td,
  th {
    width: 15%;
    padding: 10px;

    text-align: center;
    vertical-align: middle;

    border: 1px solid #efefef;
  }
  th {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

    color: #868686;
    background-color: #fafafa;
  }
  td {
    img {
      width: 100%;
    }
    h3 {
      font-size: 15px;
      font-weight: bold;
      line-height: 18px;
      a {
        text-transform: none;

        color: #00478d;
      }
    }
    p {
      font-size: 13px;
      line-height: 16px;

      color: #868686;
    }
    .btn {
      display: block;

      margin: 0 auto 10px;
    }
    &:nth-child(2) {
      width: 25%;

      text-align: left;
    }
    &:nth-child(3) {
      width: 7%;
    }
    &:nth-child(4) {
      font-size: 20px;
      font-weight: 300;

      width: 10%;

      color: #00468c;
    }
    &:nth-child(5) {
      width: 17%;
    }
    &:nth-child(6) {
      width: 26%;
    }
  }
}

.info-pdf {
  font-size: 80%;

  opacity: .7;
  color: #383838;
  .fa {
    margin-right: 5px;
  }
  a {
    text-decoration: none;

    border-bottom: 1px dotted $blue;
  }
  &:hover {
    opacity: 1;
    a {
      border-bottom: 1px solid $blue;
    }
  }
}
.prodprod-container,
.prodsis-container,
.prodsol-container {
  margin-bottom: 20px;
  h5 {
    font-size: 16px;
    font-weight: 600;

    margin-bottom: 10px;

    color: #0d1821;
  }
}
.prodsis-container {
  .loop-similar {
    a {
      height: 205px;
      margin-bottom: 15px;
      img {
        margin-bottom: 5px;
      }
    }
  }
}
.prodsol-container {
  .loop-similar {
    a {
      height: 240px;
      margin-bottom: 25px;
      img {
        height: 210px;
        margin-bottom: 5px;
      }
    }
  }
}
.loop-similar {
  a {
    display: block;
    img {
      width: 100%;
    }
  }
}
.tab-block {
  .tabs-header {
    padding: 0 15px;
    a {
      font-size: 17px;
      font-weight: 700;

      position: relative;

      display: block;

      width: 100%;
      padding: 15px 0;

      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      color: #5c5c5c;
      border: solid 1px #d3d3d3;
      border-right: 0;
      background-color: #fafafa;
      &.selected {
        color: #548ab7;
        border-bottom: 1px solid transparent;
        background-color: transparent;
      }
    }
    div {
      padding: 0;
      &:last-child {
        a {
          border-right: solid 1px #d3d3d3;
        }
      }
    }
  }
}
.tab-block {
  .tabs-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .tabContent {
    padding: 15px;

    border: solid 1px #d3d3d3;
    border-top: 0;
    h2 {
      font-size: 15px;
      font-weight: 600;

      margin-bottom: 12px;
    }
    h5 {
      font-size: 14px;

      margin-bottom: 20px;
      padding-left: 10px;

      @extend .clearfix;
      .btn {
        float: right;
      }
      &:hover {
        .btn {
          color: #407098;
          background-color: #e1e1e1;
        }
      }
    }
    .col-md-6 {
      margin-bottom: 10px;
    }
    .col-md-4 {
      a {
        position: relative;

        display: block;
        img {
          display: block;

          margin: 0 auto;
        }
      }
    }
    &#product {
      .col-md-4 {
        height: 208px;
      }
      img {
        float: left;

        width: 30%;
        margin: 0 10px 20px 0;
      }
      a {
        font-weight: bold;

        overflow: hidden;

        height: 100%;
      }
      p {
        font-weight: normal;

        color: #4b4b4b;
      }
    }
    &#homenews {
      span {
        font-size: 110%;
        font-weight: bold;

        display: block;

        margin-bottom: 10px;

        text-transform: uppercase;

        color: #000;
        &.date {
          font-size: 90%;

          margin-bottom: 0;

          color: #4b4b4b;
        }
      }
      .all-news {
        margin-bottom: 0;

        text-align: right;
      }
    }
    &#homeprod {
      h3 {
        font-size: 120%;

        margin-bottom: 10px;

        text-transform: uppercase;

        color: #000;
      }
    }
  }
  .tab-block-headline {
    font-size: 16px;
    font-weight: bold;

    margin-bottom: 15px;

    color: #4b4b4b;
  }
  .tab-content-review {
    position: relative;

    overflow: hidden;

    margin-bottom: 15px;
    padding-bottom: 15px;

    @extend .clearfix;
    &:after {
      position: absolute;
      bottom: 0;
      left: 10%;

      display: block;

      width: 80%;
      height: 1px;

      content: '';

      background-color: #d3d3d3;
    }
    img {
      float: left;

      max-width: 150px;
      margin: 0 15px 15px 0;
    }
    .reviews-author {
      font-weight: bold;

      display: block;

      margin-bottom: 14px;
      span {
        font-weight: normal;
        font-style: italic;

        margin-left: 10px;
      }
    }
    &:last-child {
      padding-bottom: 0;
      &:after {
        display: none;
      }
    }
  }
}
.order-aftercontent {
  padding: 20px 0;

  text-align: center;
  a {
    display: inline-block;

    margin: 0 20px;
  }
  .phone {
    font-size: 28px;

    text-decoration: none;

    color: #00468c;
  }
  .btn {
    font-size: 28px;
  }
}

.nearby-diler {
  width: 100%;
  span {
    font-size: 14px;
    font-weight: 700;

    display: block;

    margin-bottom: 15px;

    text-transform: uppercase;

    color: #0d1821;
  }
  select {
    font-size: 16px;

    width: 220px;
    height: 40px;
    padding-left: 10px;

    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #00468c;
    background-image: url('../img/img2.png');
    background-repeat: no-repeat;
    background-position: right center;

    appearance: none;
  }
  ul,
  li {
    display: block;

    margin: 0;
    padding: 0;
  }
  li {
    display: none;

    padding: 15px;

    border-bottom: 1px solid #d2caca;

    @extend .clearfix;
    img {
      float: left;

      width: 90px;
      margin: 0 10px 10px 0;

      border-radius: 10px;
    }
    h6 {
      font-size: 16px;
      font-weight: bold;

      margin: 0;

      text-decoration: none;

      color: #383737;
    }
    p {
      font-size: 14px;

      margin: 0;

      text-decoration: none;

      color: #b4bbc2;
    }
    .read-more-small {
      font-size: 10px;

      display: block;
      display: block;

      text-align: right;
      text-decoration: none;
      text-transform: uppercase;

      color: #00468c;
    }
    &.nearby-diler-display {
      display: block;
    }
  }
}

.quont-plus,
.quont-minus {
  font-size: 18px;
  line-height: 18px;

  display: inline-block;
  float: right;

  width: 50%;
  height: 20px;
  margin-bottom: 5px;

  cursor: pointer;

  color: #919191;
  border: 1px solid #e9e9e9;
  background: #fff;
}

.form-modal {
  position: fixed;
  z-index: 98;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  .form-modal-bgc {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    opacity: .9;
    background-color: #223345;
  }
  .form-modal-container {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;

    height: auto;
    padding: 25px;

    opacity: 1;
    color: #000;
    border-radius: 10px;
    background-color: #f2f5f8;
    .form-title {
      font-size: 140%;

      margin-bottom: 20px;
    }
    .form-title-big {
      font-size: 30px;
      line-height: 40px;

      margin-bottom: 30px;

      text-align: center;
      letter-spacing: -1px;
      text-transform: uppercase;

      color: #868686;
    }
    input,
    textarea,
    label {
      font-size: 120%;

      display: block;

      width: 100%;
      margin: 0 auto 15px;
      padding: 10px;
    }
    input {
      color: #000;
    }
    .form-modal-logo {
      display: block;

      width: 160px;
      height: 40px;
      margin: 0 auto 10px;

      background-image: url(../img/logotnx.png);
    }
  }
  &.form-modal-order {
    .form-modal-container {
      width: 400px;
      margin: -340px auto auto -180px;
    }
  }
  &.form-modal-question {
    .form-modal-container {
      width: 400px;
      margin: -400px auto auto -180px;
    }
  }
  &.form-modal-thanx {
    .form-modal-container {
      width: 380px;
      margin: -160px auto auto -190px;
      .form-title {
        text-align: center;
      }
    }
  }
  &.form-modal-callback {
    .form-modal-container {
      width: 380px;
      margin: -260px auto auto -190px;
      .form-title {
        text-align: center;
      }
    }
  }
  .form-modal-close {
    font-size: 300%;

    position: absolute;
    top: -40px;
    right: -30px;

    cursor: pointer;

    color: #868686;
    &:hover {
      color: darken(#868686, 20%);
    }
  }
}
.product-catalog-service-row {
  margin-bottom: 20px;
  padding-top: 20px;
  .inner-title {
    margin: 0;
  }
  .col-md-3 {
    padding: 10px 0 0;
  }
  .btn {
    margin: 0 auto;
  }
}
.product-table {
  .btn-blue {
    padding: 5px;
  }
  .btn-question {
    padding: 5px;
    .fa {
      display: none;
    }
  }
}
.mydoc-loop-container {
  padding-top: 20px;

  .mydoc-loop {
    margin-bottom: 15px;
    .mydoc-ico-pdf {
      height: 88px;

      background-image: url(../img/ico/ico-pdf-big.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    h3 {
      font-size: 14px;
      font-weight: bold;

      margin-bottom: 10px;
      padding: 0;

      text-transform: uppercase;

      color: #383737;
    }
  }
  .tagid-container {
    display: none;
  }
  .tagid-current {
    display: block;
  }
  &.mydoc-loop-container-systems {
    display: none;
  }
}
.display {
  display: block !important;
}

/*
  ********************************************************************************************************
  ********************************************************************************************************
  ********************************************************************************************************
  ********************************************************************************************************
  ********************************************************************************************************
 */


.block-triple {
  .checkbox {
    position: relative;

    margin-bottom: 20px;
    padding-left: 25px;
    label {
      font-size: 14px;
      font-weight: 600;

      position: relative;

      cursor: pointer;

      color: #4b4b4b;
    }
  }
  input[type='checkbox'] {
    display: none;
    + label span {
      position: absolute;
      left: -25px;

      display: inline-block;

      width: 15px;
      height: 15px;
      margin: 3px 5px;

      cursor: pointer;

      background: url(../img/checkbox.png) no-repeat 0 0;
    }
    &:checked + label span {
      background-position: 0 100%;
    }
  }
  .radio {
    position: relative;

    margin-bottom: 25px;
    padding: 12px 0 0 25px;
    label {
      font-size: 14px;
      font-weight: 600;

      position: relative;

      display: inline-block;

      max-width: 170px;

      cursor: pointer;

      color: #4b4b4b;
    }
  }
  input[type='radio'] {
    display: none;
    + label span {
      position: absolute;
      left: -25px;

      display: inline-block;

      width: 15px;
      height: 15px;
      margin: 3px 5px;

      cursor: pointer;

      background: url(../img/ico.png) no-repeat 0 0;
    }
  }
}

.block-triple input[type='radio']:checked + label span {
  background-position: 0 100%;
}

.block-triple input[type='text'] {
  font-size: 12px;
  font-weight: 600;

  width: 38px;
  height: 38px;
  padding: 0 5px;

  text-align: center;

  color: #868686;
  border: solid 1px #e9e9e9;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 0 0 #e9e9e9;
}



.content {
  position: relative;
  left: 50%;

  width: 960px;
  margin-left: -480px;
  &.page {
    width: 920px;
    padding: 20px;
  }
}

#page {
  position: relative;
  left: 50%;

  width: 920px;
  min-height: 100%;
  margin: -60px 0 -60px -480px;
  padding: 0 20px;

  background-color: #fff;
  &.sample {
    background: url(../img/bg-sample.png) repeat;
  }
}

#up-buffer,
#down-buffer {
  height: 60px;
}

#bg-black {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(34, 51, 69, .9);
}

#video-div {
  position: relative;
  z-index: 100003;

  display: none;
  iframe {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
  }
}


.menu-book {
  position: relative;
  left: 1px;

  width: 918px;
  margin-bottom: 30px;

  border: solid 1px #d3d3d3;
}


.menu-book-nav .menu-item {
  &:hover {
    color: #548ab7;
    background-color: #fafafa;
  }
  .active {
    color: #00478d;
    border-bottom: none;
  }
  &.active:hover {
    cursor: default;

    background-color: #fff;
  }
}



.open {
  display: block;
}



#news {
  list-style: none;
  li {
    display: block;
    float: left;

    box-sizing: border-box;
    width: 33.33%;
    margin-bottom: 5px;
    padding-right: 20px;
    + li {
      padding-right: 0;
      padding-left: 20px;
    }
  }
  .name {
    font-size: 14px;
    font-weight: 600;

    display: block;

    color: #4b4b4b;
  }
  .date {
    font-size: 11px;

    color: #4b4b4b;
  }
}

.newsdate {
  font-weight: normal;
}

#news p {
  margin: 10px 0;

  color: #868686;
}


.system-link {
  display: block;

  margin-bottom: 5px;
}

.goods {
  .right {
    padding-right: 0;
  }
  li {
    img {
      float: left;

      width: 85px;
      margin-right: 5px;
      margin-bottom: 40px;
    }
    span {
      display: block;
    }
  }
}

#clients {
  width: 100%;
}


.triple {
  font-size: 0;

  position: relative;

  list-style: none;
  li {
    font-size: 13px;

    display: inline-block;
    overflow: hidden;

    box-sizing: border-box;
    width: 33.33%;
    height: 100%;
    margin: 10px 0 20px;
    padding-right: 20px;

    vertical-align: top;
  }
  .right {
    padding-right: 0;
  }
}

.site-page-tree {
  overflow: hidden;

  margin-bottom: 18px !important;
}

#page_tree_show {
  font-size: 10px;
  font-weight: normal;

  cursor: pointer;

  color: #933;
}

a.site-page-tree-link {
  text-decoration: none;

  color: #933;
  border: none;
  &:link {
    text-decoration: none;

    color: #933;
    border: none;
  }
  &:active {
    text-decoration: underline;

    color: #933;
  }
  &:visited {
    text-decoration: none;

    color: #933;
  }
  &:hover {
    text-decoration: underline;

    color: #933;
  }
}

.toggle_container {
  position: relative;
  left: -20px;

  display: none;

  width: 180px;
  margin-bottom: 20px;
  padding: 20px 20px 0;

  background-color: #f6f7f8;
}

#ajaxsearchpro1 .probox .proinput input {
  width: 500px !important;
}

.toggle_container {
  .toggle_container {
    width: 160px;
    padding-left: 40px;

    background-color: #eff2f4;
  }
  a {
    font-size: 14px !important;

    text-transform: none !important;
  }
}





.sample-list {
  position: relative;
  left: 20px;

  margin: 20px 0;
}

#order-form {
  position: fixed;
  z-index: 9999;
  top: 100px;
  left: 50%;

  display: none;

  width: 270px;
  height: 460px;
  margin-left: -165px;
  padding: 30px;

  border-radius: 3px;
  background-color: #fff;
}

.form-block,
.form-block-textarea {
  position: relative;

  margin: 10px 0;
}

.form-block label,
.form-block-textarea label,
#captcha-block label {
  position: absolute;
  top: 10px;
  left: 10px;
}

.form-block input {
  font-size: 12px;
  font-weight: 600;

  width: 250px;
  height: 38px;
  padding: 0 10px;

  color: #868686;
  border: solid 1px #e9e9e9;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 0 0 #e9e9e9;
}

.form-block-textarea textarea {
  font-size: 12px;
  font-weight: 600;

  width: 250px;
  height: 90px;
  padding: 10px;

  resize: none;

  color: #868686;
  border: solid 1px #e9e9e9;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 0 0 #e9e9e9;
}

#captcha-block {
  position: relative;

  float: right;

  margin-top: 10px;
  input {
    font-size: 12px;
    font-weight: 600;

    width: 100px;
    height: 38px;
    padding: 0 10px;

    color: #868686;
    border: solid 1px #e9e9e9;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 0 0 #e9e9e9;
  }
}

#order-form .order-btn {
  margin-top: 20px;
}

.form-block input:focus,
.form-block-textarea textarea:focus,
#captcha-block input:focus {
  color: $blue;
  border-color: #c7d4e0;
}

#close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 12px;
  height: 12px;

  cursor: pointer;

  background: url(../img/close.png) no-repeat;
  &:hover {
    opacity: .6;
  }
}

.table-separator {
  display: table-row;

  width: 940px;
  height: 1px;

  border: none;
  background-color: #efefef;
}

.get-doc {
  position: relative;
  left: 10px;
  &:before {
    position: absolute;
    top: 7px;
    left: -27px;

    display: block;

    width: 21px;
    height: 24px;

    content: '';

    background: url(../img/pdf-blue.png) no-repeat;
  }
}

#sub-menu {
  position: relative;

  display: none;

  width: 100%;

  background-color: #fafafa;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
  .triple li {
    margin: 0;
    padding: 30px 20px 20px;
    a {
      line-height: 22px;

      display: block;
    }
  }
}

.sub-middle {
  background-color: #f3f3f3 !important;
}

.sub-menu-title {
  font-size: 19px;
  font-weight: 600;

  display: block;

  margin-bottom: 15px;

  color: #0d1821;
}

.sub-menu-sub-title {
  font-size: 15px;
  font-weight: 700;

  display: block;

  margin: 15px 0 5px;
  padding-bottom: 5px;

  color: #989898;
  border-bottom: 1px solid #e2e2e2;
}

#sub-menu .product-link {
  font-size: 14px;
  font-weight: 700;

  display: block;

  margin-bottom: 15px;

  text-decoration: none;

  color: #4b4b4b;
  &:hover {
    color: #00478d;
  }
}


.popup-window {
  z-index: 500;

  display: none;

  padding: 20px;

  border-radius: 5px !important;
  background: white;
  box-shadow: 0 0 4px 0 rgb(70, 70, 70);
}


.backpopup {
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  cursor: pointer;

  opacity: .7;
  background: rgb(105, 105, 105);
}

.close {
  position: absolute;
  top: 0;
  right: 5px;

  float: right;

  padding: 4px;

  cursor: pointer;
}

.leftblock {
  float: left;
  overflow: hidden;

  width: 73%;
  margin-right: 2%;
}

.rughtblock {
  float: right;
  overflow: hidden;

  width: 25%;

  text-align: right;
}





.spectable {
  display: table;
  .leftblock,
  .rughtblock {
    display: table-cell;

    vertical-align: middle;
  }
}



.order-btn {
  position: relative;
  z-index: 99999999 !important;

  cursor: pointer;
}

#wpadminbar,
.popup-window,
#fancybox-wrap,
#sub-menu {
  z-index: 999999999 !important;
}

.backpopup,
#fancybox-overlay {
  z-index: 999999998 !important;
}

tr.border_bottom td {
  padding: 5px 0;

  border-bottom: 1px solid #ccc;
}

.minus,
.plus {
  font-size: 20px;
  line-height: 0;

  position: absolute;

  width: 20px;
  height: 20px;

  cursor: pointer;

  color: #919191;
  border: 1px solid #e9e9e9;
}

.minus {
  right: 0;
  bottom: 0;

  background: url(../img/minus.png) no-repeat 0 0;
}

.plus {
  top: 0;
  right: 0;

  background: url(../img/plus.png) no-repeat 0 0;
}

.minus:hover,
.plus:hover {
  background-position: 0 50%;
}

.minus:active,
.plus:active {
  background-position: 0 100%;
}


#pagemenu {
  li {
    font-size: 15px;
    font-weight: 700;

    position: relative;

    display: inline-block;

    width: 100%;
    margin-bottom: 20px;

    text-decoration: none;
    text-transform: uppercase;

    color: #868686;
  }
}

.previouspostslink {
  display: inline-block;
  float: left;

  width: 80px;
}

.nextpostslink {
  display: inline-block;
  float: right;

  width: 80px;
}

#headermenu {
  position: relative;
  left: 0;
  left: -20px;

  float: left;

  width: 180px;
  padding: 30px 20px 10px;

  background-color: #fafafa;
  ul {
    position: relative;

    display: inline-table;

    margin: 0;
    padding: 0;

    list-style: none;

    white-space: nowrap;
    ul {
      display: none;
    }
    li {
      display: block;
      float: left;

      width: 190px;
      min-height: 50px;
      margin: auto;

      border-bottom: 1px solid #034281;
      &:hover {
        color: #5f91bb !important;
        a {
          color: #5f91bb !important;
        }
      }
      a {
        font-size: 12px;
        font-weight: 700;
        line-height: 50px;

        display: inline-block;

        padding-left: 10px;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
      }
    }
    ul {
      position: absolute;
      left: 25px;

      padding: 0;

      border-radius: 0;
      li {
        float: none;
      }
      ul {
        position: absolute;
        left: 45px;
      }
    }
  }
  &:active ul ul {
    display: none;
  }
  ul {
    &.sub-menu {
      position: relative;
      left: -20px;

      width: 180px;
      margin-bottom: 20px;
      padding: 20px 20px 0;

      background-color: #f6f7f8;
    }
    &.sub-sub-menu {
      width: 160px;
      padding-left: 40px;

      background-color: #eff2f4;
    }
  }
}

.form_box {
  width: 300px;
  margin: 40px auto;
}

.form_style {
  p {
    position: relative;

    margin-bottom: 25px;
  }
  .rcheck {
    margin-bottom: 10px;
  }
  p label {
    font-size: 13px;
    font-weight: bold;

    display: block;

    cursor: pointer;

    color: #444;
  }
  .rcheck label {
    font-size: 13px;
    font-weight: normal;

    display: inline;

    vertical-align: top;

    color: #444;
  }
  input {
    /*     &[type='text'] {
  font-size: 14px;

  display: block;

  width: 330px;
  padding: 7px 7px 8px;

  color: #444;
  border: 2px solid #cfcfcf;
} */
    &[type='checkbox'] {
      display: inline-block;

      width: 14px;
      margin: 4px 4px 0 0;

      vertical-align: top;

      border: 1px solid #cfcfcf;
    }
    /*     &:focus {
  border-color: #07a6e6;
  outline: none;
} */
  }
  .btnsubmit {
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;

    width: 350px;
    height: 35px;
    padding: 0;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: none;
    border: 1px solid #758ea8;
    background-color: $blue;
  }
  input.rf_error {
    border-color: #d8512d;
  }
  .rfield_error {
    font-size: 12px;

    position: absolute;
    z-index: 1;
    top: 20px;
    right: 3px;
    left: auto;

    display: block;
    visibility: hidden;

    padding: 0 10px;

    color: #fff;
    background-color: #fa923c;
  }
  .rcheck .rfield_error {
    top: 0;
    right: auto;
    left: 22px;
  }
  .btnsubmit {
    &:hover {
      background: #009ac2;
    }
    &:active {
      outline: none;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, .2);
    }
    &:focus {
      outline: none;
    }
    &.disabled {
      cursor: default;

      background: #758ea8;
      &:hover {
        cursor: default;

        background: #758ea8;
      }
    }
  }
}

#order,
#callback,
#answer,
#order2,
#order-thx,
#order2-thx,
#callback-thx,
#answer-thx {
  position: fixed;
  z-index: 999999999999;
  top: 10%;
  left: 50%;

  display: none;
}

#backformnew {
  position: fixed;
  z-index: 999999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: .9;
  background: #223345;
}

.closset {
  position: absolute;
  top: 0;
  right: 0;

  float: right;

  padding: 10px;

  cursor: pointer;
}

.closset1 {
  position: absolute;
  top: 0;
  right: 0;

  float: right;

  padding: 10px 10px 310px 370px;

  cursor: pointer;
}

.bodyform {
  position: relative;

  display: block;
  float: left;

  background: #ccc;
}

.myformnew {
  position: fixed;
  z-index: 9999999999;
  top: 50%;
  left: 50%;

  width: 622px;
  height: 226px;
  margin: -110px auto auto -310px;

  opacity: 1;
  border-radius: 5px;
  background: #f2f5f8;
}

.myformnew1 {
  position: fixed;
  z-index: 9999999999;
  top: 50%;
  left: 50%;

  width: 622px;
  height: 527px;
  margin: -260px auto auto -310px;

  opacity: 1;
  border-radius: 5px;
  background: #f2f5f8;
}

.myformnew2 {
  position: fixed;
  z-index: 9999999999;
  top: 50%;
  left: 50%;

  width: 300px;
  height: 580px;
  margin: -290px auto auto -150px;

  opacity: 1;
  border-radius: 5px;
  background: #f2f5f8;
}

.myformnew3 {
  position: fixed;
  z-index: 9999999999;
  top: 50%;
  left: 50%;

  width: 380px;
  height: 326px;
  margin: -160px auto auto -190px;

  opacity: 1;
  border-radius: 5px;
  background: #f2f5f8;
}



.titled {
  font-family: 'Myriad Pro Regular';
  font-size: 19px;
  line-height: 21px;

  display: block;

  padding-top: 20px;

  text-align: center;
  letter-spacing: -1px;
}

#answer {
  label {
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    line-height: 24px;

    margin-top: 15px;
    margin-left: 20px;

    letter-spacing: .5px;

    color: #b4bbc2;
  }
  input {
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    line-height: 24px;

    clear: both;

    width: 230px;
    height: 20px;
    margin-left: 20px;
    padding: 15px;

    color: #000;
    border: 2px solid #c6ccd2;
    border-radius: 5px;
  }
  textarea {
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    line-height: 24px;

    clear: both;

    width: 230px;
    height: 120px;
    margin-left: 20px;
    padding: 15px;

    color: #000;
    border: 2px solid #c6ccd2;
    border-radius: 5px;
  }
  .button {
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    line-height: 24px;

    float: right;
    clear: both;

    width: 110px;
    height: 20px;
    margin-right: 20px;
    padding: 15px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 5px;
    background: #24aa98;
  }
  .has-error label {
    font-size: 12px;
    line-height: 15px;

    display: block;

    margin-top: 8px;
    margin-left: 0;
    padding: 0 10px;

    text-align: center;
    letter-spacing: .5px;

    color: #db7560;
  }
  .has-success label {
    font-size: 12px;
    line-height: 15px;

    display: block;

    margin-top: 8px;
    margin-left: 0;
    padding: 0 10px;

    text-align: center;
    letter-spacing: .5px;

    color: #24aa98;
  }
  .has-error input {
    border: 2px solid #db7560;
    background: url(../img/none.png) no-repeat 95% 18px;
  }
  .has-success input {
    border: 2px solid #24aa98;
    background: url(../img/yes.png) no-repeat 95% 19px;
  }
  button {
    width: 144px;
    height: 54px;
    margin-top: -22px;
    margin-left: -16px;

    cursor: pointer;

    color: #fff;
    border: none;
    background: none;
  }
}


#callback {
  .button {
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    line-height: 16px;

    float: right;
    clear: both;

    width: 110px;
    height: 20px;
    margin-top: -78px;
    margin-right: 110px;
    padding: 15px;

    text-align: center;
    text-decoration: none;

    opacity: 1;
    color: #fff;
    border: 2px solid #24aa98;
    border-radius: 5px;
    background: #24aa98;
  }
  label {
    font-family: 'Myriad Pro Regular';
    font-size: 14px;
    font-style: italic;
    line-height: 24px;

    display: block;
    float: left;

    width: 225px;
    margin-left: 130px;

    text-align: center;
    letter-spacing: -1px;

    color: #0d1821;
  }
  input {
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    line-height: 24px;

    display: block;
    float: left;
    clear: both;

    width: 190px;
    height: 20px;
    margin-top: 35px;
    margin-left: 130px;
    padding: 15px;

    color: #000;
    border: 2px solid #c6ccd2;
    border-radius: 5px;
  }
  .has-error label {
    color: #db7560;
  }
  .has-success label {
    color: #24aa98;
  }
  .has-error input {
    border: 2px solid #db7560;
    background: url(../img/none.png) no-repeat 95% 18px;
  }
  .has-success input {
    border: 2px solid #24aa98;
    background: url(../img/yes.png) no-repeat 95% 19px;
  }
  button {
    width: 144px;
    height: 54px;
    margin-top: -22px;
    margin-left: -16px;

    cursor: pointer;

    color: #fff;
    border: none;
    background: none;
  }
}

#wpcf7-f1034-o2,
#wpcf7-f197-o3,
#wpcf7-f2197-o4 {
  display: none;
}

#order,
#order2,
#order1 {
  .forformpadd {
    padding: 45px 60px 90px 90px;
  }
  label {
    font-family: 'Myriad Pro Regular';
    font-size: 12px;
    font-style: italic;
    line-height: 14px;

    display: block;
    float: right;

    width: 220px;
    height: 40px;
    margin-left: 15px;
    padding: 5px;

    color: #767676;
  }
  input {
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    line-height: 24px;

    display: block;
    float: left;

    width: 190px;
    height: 20px;
    padding: 15px;

    color: #000;
    border: 2px solid #c6ccd2;
    border-radius: 5px;
  }
  .button {
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    line-height: 24px;

    display: block;

    width: 110px;
    height: 20px;
    margin: auto;
    padding: 15px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 5px;
    background: #24aa98;
  }
  .has-error label {
    color: #db7560;
  }
  .has-success label {
    color: #24aa98;
  }
  .has-error input {
    border: 2px solid #db7560;
    background: url(../img/none.png) no-repeat 95% 18px;
  }
  .has-success input {
    border: 2px solid #24aa98;
    background: url(../img/yes.png) no-repeat 95% 19px;
  }
  button {
    width: 144px;
    height: 54px;
    margin-top: -22px;
    margin-left: -16px;

    cursor: pointer;

    color: #fff;
    border: none;
    background: none;
  }
}

.button:disabled > option {
  pointer-events: none;

  color: #b3b3b3 !important;
}

.blue2 {
  &:hover {
    background: #d2691e;
  }
  &:active {
    background: #f4a460;
  }
}

input {
  &[type='button']:disabled,
  &[type='submit']:disabled,
  &[type='reset']:disabled,
  &[type='file']:disabled::-webkit-file-upload-button {
    pointer-events: none;

    color: #b3b3b3 !important;
  }
}

button:disabled,
select:disabled,
keygen:disabled,
optgroup:disabled,
option:disabled,
select[disabled] > option {
  pointer-events: none;

  color: #b3b3b3 !important;
}


.telefonfo {
  font-family: 'Myriad Pro Regular';
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  line-height: 21px;

  text-align: center;
}

.insertorm {
  display: block;
  float: left;

  width: 220px;
  height: 50px;
  margin-top: 40px;
  margin-left: 130px;

  text-align: center;
  input {
    font-size: 16px;
    line-height: 50px;

    width: 180px;
    height: 50px;
    padding: 0 20px;

    text-align: left;

    color: #c6ccd2;
    border: 1px solid #c6ccd2;
    border-radius: 10px;
    &.wpcf7-tel {
      color: #000;
    }
  }
}

#jivo_top_wrap {
  z-index: 99999999998 !important;
}

.hidden {
  display: none;
}

.cloud-simulation-diller {
  .diller-tag {
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;

    display: block;
    float: left;

    width: 25%;
    margin-left: 20px;
    padding-left: 10px;

    cursor: pointer;
    text-decoration: none;

    color: #383737;
  }
  .current-term {
    color: #fff;
    border-radius: 10px;
    background: $blue;
  }
}

.cloud-simulation {
  padding: 10px;

  @extend .clearfix;
  .cloud-simulation-object {
    font-size: 12px;
    line-height: 1.3;

    position: relative;

    display: block;
    float: left;

    width: 33.3%;
    height: 44px;
    margin-bottom: 5px;
    padding: 0;

    cursor: pointer;

    border-radius: 10px;
    &.current-term,
    &:hover {
      color: #fff;
      background: $blue;
    }
    span {
      display: block;

      width: 100%;

      text-align: center;

      @extend .align-center;
    }
  }
}

.singlesing {
  h3,
  h4 {
    font-weight: normal;
  }
  ul {
    li {
      margin-left: 20px;
    }
  }
  blockquote {
    font-weight: normal;
    font-style: italic;

    margin-left: 50px;
  }
  .size-full {
    max-width: 100%;
    height: auto;

    border-radius: 10px;
    img {
      max-width: 100%;
      height: auto;

      border: none !important;
      border-radius: 10px;
    }
  }
  .gallery-item {
    overflow: hidden;

    width: 110px;
    height: auto;
    padding: 20px 20px 20px 0;
    img {
      max-width: 100%;
      height: auto;

      border: none !important;
      border-radius: 10px;
    }
  }
  .category-content-container {
    margin: 0 0 20px;
  }
  .category-content-title {
    a {
      font-size: 19px;

      text-decoration: none;

      color: #383737;
      &:hover {
        border-bottom: 1px dotted #383737 ;
      }
    }
  }
  .read-more {
    font-size: 11px;

    padding: 5px 15px;

    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: #00468c;
    &:hover {
      background-color: lighten(#00468c, 10%);
    }
  }
}

.customer-single {
  .featureimage {
    float: left;

    margin: 0 10px 10px 0;
  }
}
.comment-body p {
  font-size: 12px;

  padding-left: 55px;

  color: #383737;
}


#respond h3 {
  display: none;
}

#comments {
  .thread-odd {
    margin-left: 5%;
  }
  ol li.thread-odd {
    width: 95%;
  }
  textarea {
    width: 450px !important;
    height: 150px;
    padding: 10px;

    border: 2px solid #c6ccd2;
    border-radius: 10px;
  }
  input {
    padding: 5px;

    border: 2px solid #c6ccd2;
    border-radius: 10px;
  }
  textarea:focus,
  input:focus {
    color: #000;
    border-color: #65abd0;
    outline: none !important;
  }
}

input.bgCH.submit.btn {
  width: 100px;
  height: 48px;
  margin-top: -10px;

  border: none !important;
  background: url(../img/answer.png) no-repeat left;
}

.uwpqsf_class select {
  font-size: 16px !important;

  width: 220px !important;
  height: 40px !important;
  padding-left: 10px !important;

  color: #fff !important;
  border: none !important;
  border-radius: 10px !important;
  background-color: $blue !important;
  background-image: url('../img/img2.png');
  background-repeat: no-repeat;
  background-position: right center;

  appearance: none;
}

span.taxolabel-0,
.uform_title {
  display: none !important;
}

#uwpqsf_id {
  margin: 10px 0;

  border: none !important;
}

#syst,
#solu {
  display: none;
}


/* from header */
#langu {
  font-size: 17px;

  display: block;
  float: left;

  width: 40px;

  text-transform: uppercase;

  color: #fff;
  a {
    display: block;

    margin-top: -4px;

    color: #fff;
  }
  .it,
  .es {
    display: none !important;
  }
}

#wrap {
  font-family: AvenirLTStd, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;

  width: 400px;
  margin: 0 auto;
  margin-top: 8px;
  padding: 5px;

  text-align: left;

  background: #fff;
  .cont_details fieldset {
    margin: 10px;
    padding: 20px;

    border-radius: 10px;
  }
}

.cont_order fieldset {
  margin: 10px;
  padding: 20px;

  border-radius: 10px;
}

#wrap {
  legend {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;

    padding-bottom: 10px;

    color: #000;
  }
  .cont_details input {
    margin-bottom: 10px;

    color: #000;
  }
}

#wrap {
  label {
    font-size: 12px;
    font-weight: bold;

    display: block;

    color: #000;
    &.inlinelabel {
      display: inline;
    }
  }
  .cont_order {
    input {
      margin-bottom: 5px;
    }
    p {
      padding-top: 5px;
    }
  }
  input {
    &[type='radio'] {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    &[type='text'] {
      &:hover,
      &:active {
        background-color: #faf398;
      }
    }
    &#submit {
      margin: 10px;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  }
  div#totalPrice {
    font-weight: bold;

    padding: 10px;

    background-color: #ff0;
  }
  label.radiolabel {
    font-weight: normal;

    display: inline;
  }
}

/* developed by aparserok@gmail.com */




@import 'import/print';
